* {
    box-sizing: border-box;
    text-align: center;
}

html {
    scroll-behavior: smooth;
    margin: 0;
    height: 100vh;
    width: 100vw;
}

body {
    margin: 0;
    display: block;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-color:#f6f6f6;
    font-family: 'Tsukimi Rounded', sans-serif;

};

/* Navigation Bar */
nav {
    overflow: hidden;
    position: fixed;
    top: 0;
    height: 100%;
}

#navbar {
    text-align: center;
    height: 5vh;
    padding-top: 10px;
}

#navbar li {
    display: inline-block;
    list-style: none;
}

#navbar a {
    display: block;
    margin: 0;
    padding: 0px 30px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    color: black;
}

/* Content */
.container {
    display: inline-block;
    position: relative;
    height: 90%;
    width: 98%;
}

#about-me{
    margin: auto;
    display: block;
    background-color: fff ;
    height: 100%;
    width: 50%;
    box-shadow: 0 4px 8px 0 #EAD8E0, 0 6px 20px 0 #EAD8E0;
    border-radius: 3px;
}

/* Back to Top Button Animation */
@keyframes bounce {
	0%, 100%, 20%, 50%, 80% {
        transform: rotate(-135deg);
        -webkit-transform: rotate(-135deg);
	}
	40% {
		transform: rotate(-135deg);
        -webkit-transform: rotate(-135deg);
		bottom: 30px;
	}
	60% {
		transform: rotate(-135deg);
        -webkit-transform: rotate(-135deg);
		bottom: 15px;
	}
}

/* Back to Top Button */
.arrow {
    place-self: end;
    position: fixed;
    bottom: 20px;
    

    /* Arrow Styling */
    background-color: transparent;
    border: solid rgba(0, 0, 0, 0.342);
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 10px;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    z-index: 1000;
}

.up {
    transform: rotate(-135deg);
    -webkit-transform:rotate(-135deg);
}

.arrow:hover {
    cursor: pointer;
    animation-name: bounce;
    -moz-animation-name: bounce;
}

#footer {
    position: relative;
    height: 120px;
    background-color:  #ead8e06b;
}

#footer img {
    display: inline-block;
    top: 40px;
    left: 50%;
    height: 30px;
    width: 30px;
}

#footer p {
    position: absolute;
    bottom: 50px;
    left: 47%;
    margin: auto;
}